*{
    padding: 0;
    margin: 0;
}
.wheattext{
    color: wheat;
    font-family: sans-serif;

}
.redtext{
    color: red;
}

#body{
    background-color: #04a341;
    font-size: 14px;
    background-size: cover;

}

#topbar{
    height: 50px;
    background-color: white;
    position: static;
    margin: auto;
    
    
}

#topbar #left{
    width: 30%;
    float: left;
    height: 100%;
    font-size: 40px;
}

#topbar b{
    color: #04a341;
}

#topbar #right{
    width: 40%;
    float: right;
    height: 100%;
    font-size: 30px;
   
    
}

#topbar #right a{
    /* display: inline; */
    text-decoration: none;
    /* background-color: #00ccff; */
    padding: 12px;
    font-size: 18px;
    color: black;
    height: 100%;
    
    
}

#topbar #right a:hover{
    display: inline;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 12px;
    font-size: 25px;
    color: white;
    
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
#bottombar{
    height: 50%;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-size: 50px;
    text-align: center;

}

#bottombar #right {
    /* background-image: url(cubehouse.jpg); */
    float: right;
    width: 60%;
    /* background-color: rgba(17, 17, 17, 0); */
    height: 90%;
      
}

#bottombar #left{
    /* background-color: rgba(255, 255, 255, 0); */
    height: 50%;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    width: 40%;
    color: #fafafa
    
    
}
#bottombar b{
    color: #04a341;
}
#footer_inner {
    margin: auto;
    padding: 30px 20px 0;
    margin-top: -100px;
    font-size: 15px;
    background: #fafafa;
    color: #c9cbcb;
    clear: both;
}
 #footer_inner #left{
     width: 20%;
     height: 100%;
     text-align: left;
     font-size: 12px;
 }

 #bottom {
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    /* width: 1000px; */
    padding: 12px;
    margin-left: 200px;
    /* margin-top: -50px; */
    
    
}

#button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: whie;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
  }
  
  #container{
    /* background-color: #04a3413d; */
    height: 130px;
    color:black;
    padding: 12px;
    margin-right:-930px;
    margin-top: -190px;
    width: 350px;
    text-align: center;
    float: right;

  }

  #abottombar{
      height: 400px;
      position: static;
      margin: auto;
      
      
  }

  #abottombar #left {
      
      width: 38%;
      color: rgb(11, 15, 49);
      font-size: 30px;
      text-align: center;
      text-decoration: none;
      font-family: sans-serif;
      height: 100%;
      float: left;
      /* margin-top: 80px; */
      background-color: #15182b00
  }

  #abottombar #right{
      position: absolute;
      right: 0;
      width: 60%;
      
  }

#right img{
    margin-left: 30%;
}

#abottombar #left p{
    padding-top: 60px;
}
      

#bbottombar{
    height: 400px;
    color: #fff;
    padding: 20px 0;
    
}
#cbottombar{
    height: 200px;
    color: black;
    text-align: center;
    font-size: 30px;
}
#sbottombar{
    height: 400px;
    position: static;
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
    
    
}
#sbottombar #left {
      
    width: 38%;
    color: rgb(11, 15, 49);
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    height: 100%;
    float: left;
    /* margin-top: 80px; */
    background-color: #15182b00
}
#sbottombar #right{
    position: absolute;
    right: 0;
    width: 60%;
    background-color: rgba(0, 0, 255, 0);
}
#sbbottombar{
    height: 400px;
    position: static;
    margin: auto;
    background-color: rgba(26, 238, 79, 0);
    
    
}
#sbbottombar #right {
      
    width: 60%;
    color: rgb(11, 15, 49) ;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    height: 100%;
    float: right;
    /* margin-top: 80px; */
    background-color: #e0e1eb00
}
#sbbottombar #left{
    position: absolute;
    left: 0;
    width: 38%;
    background-color: rgba(234, 0, 255, 0);
}
#scbottombar{
    height: 400px;
    position: static;
    margin: auto;
    background-color: rgba(238, 255, 0, 0);
    
    
}
#scbottombar #left {
      
    width: 38%;
    color: rgb(11, 15, 49);
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    height: 100%;
    float: left;
    /* margin-top: 80px; */
    background-color: #737ec900
}
#scbottombar #right{
    position: absolute;
    right: 0;
    width: 60%;
    background-color: rgba(0, 238, 255, 0);
}

#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  #title {
    color: rgb(0, 0, 0);
    font-size: 18px;
  }
  
  #bbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  #a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  #bbutton:hover, a:hover {
    opacity: 0.7;
  }
  #card2 {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    max-width: 300px;
    margin: right;
    text-align: center;
    float: left;
    padding-right: 150px;
    padding-left: 25px;
  }
  #supportbar{
      height: 500px;
      /* background-color: white; */

  }
  #supportbar2{
    height: 500px;
    /* background-color: blue; */

}
#contact{
    height: 1000px;
    color: black;
    background-color: rgba(0, 0, 0, 0.493);
    font-size: 50px;
}

#contact #left{
    width: 50%;
    background-color: rgba(0, 0, 255, 0);
    float: left;
    height: 1000px;
    margin-top: 100px;
    
}
#contact #right{
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
    float: right;
    height: 1000px;
    margin-top: 300px;
    color: rgba(255, 255, 255, 0.719);
}