*{
    padding: 0;
    margin: 0;
}
.wheattext{
    color: wheat;
    font-family: sans-serif;

}
.redtext{
    color: red;
}

#body{
    /* background-image: url(housekey1.jpg); */
    font-size: 14px;

}

#topbar{
    height: 50px;
    background-color: white;
    position: static;
    
    
}

#topbar #left{
    width: 30%;
    float: left;
    height: 100%;
    font-size: 40px;
}

#topbar b{
    color: #04a341;
}

#topbar #right{
    width: 40%;
    float: right;
    height: 100%;
    font-size: 30px;
   
    
}

#topbar #right a{
    /* display: inline; */
    text-decoration: none;
    /* background-color: #00ccff; */
    padding: 12px;
    font-size: 18px;
    color: black;
    height: 100%;
    
    
}

#topbar #right a:hover{
    display: inline;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 12px;
    font-size: 25px;
    color: white;
    
}
#bottombar{
    height: 80%;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-size: 50px;
    text-align: center;

}

#bottombar #right {
    background-image: url(cubehouse.jpg);
    float: right;
    width: 50%;
    background-color: rgba(17, 17, 17, 0.76);
    height: 100%;  
}

#bottombar #left{
    background-color: rgba(255, 255, 255, 0);
    height: 50%;
    font-size: 40px;
    text-align: left;
    padding-top: 50px;
    width: 40%;
    
    
}
#bottombar b{
    color: #04a341;
}
#footer_inner {
    margin: auto;
    padding: 30px 20px 0;
    margin-top: -100px;
    font-size: 15px;
    background: #fafafa;
    color: #c9cbcb;
    clear: both;
}
 #footer_inner #left{
     width: 20%;
     height: 100%;
     text-align: left;
     font-size: 12px;
 }
